<div class="sidebar-container">
    <div class="sidebar-logo">
     <a id="title" href="">Bookstore</a> 
    </div>
    <ul class="sidebar-navigation">
      <li class="header">Navigation</li>
      <li>
        <a href="#" routerLink="/allbooks">
          <i class="fa fa-home" aria-hidden="true"></i> All Books
        </a>
      </li>
      <li>
        <a href="#" routerLink="/comedy">
          <i class="fa fa-home" aria-hidden="true"></i> Comedy
        </a>
      </li>
      <li>
        <a href="#" routerLink="/sciencefiction">
          <i class="fa fa-tachometer" aria-hidden="true"></i> Science Fiction
        </a>
      </li>
      
    </ul>
  </div>
  
  

